<!DOCTYPE html>
<html>
<head>
	<title>My First Template</title>
</head>
<body>
	<h3>My first template with embedded python</h3>
	<!-- this will be the value of our phrase variable -->
	<p>Phrase: {{ phrase }}</p>

	<!-- this will outpt the value of out times variable -->
	<p>Times: {{ times }}</p>

	<!-- here is an example of embedding a for-loop in our code -->
	{% for x in range(0,times): %}
	<p>{{ phrase }}</p>
	{% endfor %}

	<!-- here is an example of embedding an if statement in our code -->
	{% if phrase == "hello" %}
	<p>The phrase says hello</p>
	{% endif %}

</body>
</html>