<html>
<head>
  <title>Friends</title>
  <meta charset="utf-8">
</head>
<body>

<p>Add a Friend</p>
  <form action='/friends' method='POST'>
    <label for="first_name">First Name:<input type="text" name="first_name" id="first_name"></label>
    <label for="last_name">Last Name:<input type="text" name="last_name" id="last_name"></label>
    <label for="occupation">Occupation:<input type="text" name="occupation" id="occupation"></label>
    <input type="submit" value="Add">
  </form>
  <br>
<p>These are all my friends!</p>

  <table>
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Occupation</th>
        <th>Added</th>
        <th>Edit</th>
      </tr>
    </thead>
    <tbody>
      {% for friend in all_friends: %}
      <tr>
        <td>{{ friend.first_name }}</td>
        <td>{{ friend.last_name }}</td>
        <td>{{ friend.occupation }}</td>
        <td>{{ friend.created_at }}</td>
        <td>{{ friend.updated_at }}</td>
        <td><a href="/friends/{{friend.id}}/edit">Edit</a> | <a href="/friends/{{friend.id}}/show">Show</a>
        <form class="" action="/friends/{{friend.id}}/delete" method="post">
          <input type="submit" name="" value="Delete">
        </form>
        </td>
      {% endfor %}
      </tr>
    </tbody>


  
</body>
</html>