*{
margin: 0px;
padding: 0px;
}

#pic0 {
	display: block;
	padding: 2px;
}
#pic1{
	display: block;
	padding: 2px;
}
#pic2 {
	display: block;
	padding: 2px;
}
#pic3 {
	display: block;
	padding: 2px;
}
#pic4 {
	display: block;
	padding: 2px;
}